*{
margin: 0;
padding:0;
}
/*
Color Scheme
#70502C Tuscan Brown
#D4D0C6	Pastel Gray
#F7F5F6 White Smoke
#8FA56B	Aparagus
#1E1812 Licorice


https://coolors.co/70502c-f4efe3-f7f5f6-8fa56b-1e1812


*/
body{
	background-color: #70502C;
	overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
p{
	color: #D4D0C6;
	
}
.colorCodes{
	border-style: solid;
	max-width: 20vw;
	font-size: 30px;
}
p.colorCodes{
	
}
.PageTitle{
	font-family: Arial Black;
	font-size: 50px;
	color: #D4D0C6;
	position: center;
	
}
.CatIdentifier{
	font-size: 35;
	
}
#sideBarTab{
	border-style: solid;
	position: element(#sideBar);
	float: right;
	left: 100px;
	width: 60px;
	transform: rotate(90deg);
	
}
.sideBar{
	position: absolute;
	top: 0;
	right: 0;
	justify-content: center;
	font-family: helvetica;
	float: right;
	font-size: 20px;
	white-space: nowrap;
	color: #D4D0C6;
	border-style: solid;
	border-right: hidden;
	border-top: hidden;
	max-height: 80vh;
	white-space: pre-wrap;
	max-width: 20%;
	overflow-y: scroll;
	padding: 5px;
	
}
.bottomBar{
	position: absolute;
	float: bottom-left;
	bottom: 0;
	border-top: solid;
	border-color: #1E1812;
	background-color: #8FA56B;
	width: 100vw;
	overflow-x: hidden;
	min-height: 8vh;
	
}

